<?xml version="1.0" encoding="UTF-8" ?>
<!-- 配置映射文件的dtd约束 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qianfeng.mapper.VideoMapper">

    <resultMap id="videoMap" type="video">
        <result property="spearkerId" column="spearker_id"/>
        <result property="courseId" column="course_id"/>
        <result property="videoUrl" column="video_url"/>
        <result property="imageUrl" column="image_url"/>
        <result property="playNum" column="play_num"/>


    </resultMap>

    <sql id="videoSql">
        SELECT v.*,s.speaker_name AS speakerName FROM video v INNER JOIN speaker s ON v.spearker_id = s.id
    </sql>
    <sql id="whereSql">
        <where>
            <if test="title != null and title !=''">
                and title like '%${title}%'
            </if>
            <if test="speakerId != 0">
                and spearker_id = #{speakerId}
            </if>
            <if test="courseId != 0">
                and course_id = #{courseId}
            </if>
        </where>
    </sql>
    
    <select id="selectVideoList" parameterType="videoVo" resultMap="videoMap">
        <include refid="videoSql"></include>
        <include refid="whereSql"></include>

    </select>




    <select id="findSave" resultMap="videoMap">
        <include refid="videoSql"></include>
    </select>
    
    <insert id="addVideo" parameterType="video">
        INSERT INTO video (id,title,detail,time,spearker_id,video_url) VALUES (#{id},#{title},#{detail},#{time},#{spearkerId},#{videoUrl})
    </insert>

    <delete id="deleteVideo" parameterType="int">
        DELETE FROM video WHERE id = #{id}
    </delete>




</mapper>